{%load static%}
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Vip</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main.css?{% now "U" %}">
	</head>
	<body  style="font-size:120%">

		{%if user.is_authenticated %}
			<!-- Header -->
				<header id="header">
					<nav class="left">
						<a href="#menu"><span>Menu</span></a>
					</nav>
					<a href="/" class="logo">VIP</a>
					<nav class="right">
						<a href="/logout" class="button alt">Log out</a>
					</nav>
				</header>
	
			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/LearningCenter">Learning Center</a></li>
						<li><a href="/service">Our Service</a></li>
						<li><a href="/sign_up">Sign up</a></li>
						<li><a href="/about">About us</a></li>					
					</ul>
					<ul class="actions vertical">
						<li><a href="/logout" class="button fit">Log out</a></li>
					</ul>
				</nav>
			{%else%}	
			<!-- Header -->
				<header id="header">
					<nav class="left">
						<a href="#menu"><span>Menu</span></a>
					</nav>
					<a href="/" class="logo">VIP</a>
					<nav class="right">
						<a href="/loginForm" class="button alt">Log in</a>
					</nav>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/LearningCenter">Learning Center</a></li>
						<li><a href="/service">Our Service</a></li>
						<li><a href="/sign_up">Sign up</a></li>
						<li><a href="/about">About us</a></li>					
					</ul>
					<ul class="actions vertical">
						<li><a href="/loginForm" class="button fit">Login</a></li>
					</ul>
				</nav>
			{%endif%}

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>Welcome to Vip</h1>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Get Started</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3 style="font-size:155% ;color:#a07ca2">Very Important Person</h3>
							<h3 style="font-size:155% ;color:#a07ca2">Process<br /> Packaging</h3>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="/static/images/vip_logo_dark.jpg" alt="" />
					</div>
					<div class="flex-item right">
						<div>
							<h3 style="font-size:155%">Lamp</h3>
							<p style="font-size:155% ;color:#a07ca2">We like lamp that will<br />
							guide our customers to<br />
							the brightest solutions</p>
						</div>					
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="/static/images/non_profit.png" alt="Pic 01" />
							</div>
							<header>
								<h3>Semi non-profit org</h3>
							</header>
							<div class="de">
									<p>We consider ourself as semi non-profit organisation<br />because we provide free knowledge but charge<br />when design process needed</p>
								
									<h3>-we give you ,you give us back-<h3>
								<div>
						</article>
						<article>
							<div class="image round">
								<img src="/static/images/contact.png" alt="Pic 02" />
							</div>
							<header>
								<h3>Contact form home</h3>
							</header>
							<div class='de'>
									<p >We concern and care about people who live far away or<br />doesn't a big fan of traffic situation in Bankok so we provide<br /> online video call system to contact our client</p>
									<h3>-Far away but still feel close-<h3>
								<div>
						</article>
					</div>
				</div>
			</section>
				<!-- Package-->
			<section class="wrapper2">
				<div class="inner">
					<header class="special">
						<h2>Service Package</h2>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="/service" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Our service package Detail</h3>
								</header>
								<p>our services when design process needed</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/LearningCenter" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>   Learning center </h3>
								</header>
								<p>Provide Knowledge Abot Rebranding</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/service" class="icon fa-credit-card"><span class="label">Icon</span></a>
									<h3>Purchase our package</h3>
								</header>
								<p>We will help you to disign your own product </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/sign_up" target="_blank" class="icon fa-edit"><span class="label">Icon</span></a>
									<h3>Sign up</h3>
								</header>
								<p>Sign up for free</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="https://www.facebook.com/VIP-Very-Important-Person-101128384931147/" target= "_blank" class="icon fa-thumbs-o-up"><span class="label">Icon</span></a>
									<h3>Visit our facebook</h3>
								</header>
								<p>click icon to visit our facebook</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/about" class="icon fa-commenting"><span class="label">Icon</span></a>
									<h3>About us</h3>
								</header>
								<p>Learn more about us</p>
							</div>
						</section>
					</div>
				</div>
			</section>
					<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h1 style="text-align: right;font-size:300%">Branding</h1>
				</div>
			</footer>

			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="#"><img src="/static/images/c01.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/c02.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/b01.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/b02.jpg" alt="" /></a>
							</div>

						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="#"><img src="/static/images/f01.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/c03.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/c04.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/b03.jpg" alt="" /></a>
							</div>

						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="#"><img src="/static/images/b04.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/f02.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/c05.jpg" alt="" /></a>
							</div>

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="#"><img src="/static/images/c06.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/b05.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/b06.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/f03.png" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/c07.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/003.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/b07.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="/static/images/b08.jpg" alt="" /></a>
							</div>	
							<div class="image fit">
								<a href="#"><img src="/static/images/f04.png" alt="" /></a>
							</div>						

					</div>
				</div>
			</div>
			<footer id="footer">
				<div class="inner">
					<div class="vip">

						<p>Our service center: +6638-422-099 <br />
						Official line: @beourvipguest<br />
						Facebook: VIP Very Important Person
						</p>
					<div>
				<div>
			</footer>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
	</body>
</html>