<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Sign Up</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main.css?{% now "U" %}">
	</head>
<body class="subpage">

	{%if user.is_authenticated %}
			<!-- Header -->
				<header id="header">
					<nav class="left">
						<a href="#menu"><span>Menu</span></a>
					</nav>
					<a href="/" class="logo">VIP</a>
					<nav class="right">
						<a href="/logout" class="button alt">Log out</a>
					</nav>
				</header>
	
			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/LearningCenter">Learning Center</a></li>
						<li><a href="/service">Our Service</a></li>
						<li><a href="/sign_up">Sign up</a></li>
						<li><a href="/about">About us</a></li>					
					</ul>
					<ul class="actions vertical">
						<li><a href="/logout" class="button fit">Log out</a></li>
					</ul>
				</nav>
			{%else%}	
			<!-- Header -->
				<header id="header">
					<nav class="left">
						<a href="#menu"><span>Menu</span></a>
					</nav>
					<a href="/" class="logo">VIP</a>
					<nav class="right">
						<a href="/loginForm" class="button alt">Log in</a>
					</nav>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/LearningCenter">Learning Center</a></li>
						<li><a href="/service">Our Service</a></li>
						<li><a href="/sign_up">Sign up</a></li>
						<li><a href="/about">About us</a></li>					
					</ul>
					<ul class="actions vertical">
						<li><a href="/loginForm" class="button fit">Login</a></li>
					</ul>
				</nav>
			{%endif%}


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Sign Up</h1>
						<p>Be our guess</p>
					</header>
					{%if messages%}
					<div>
    					{% for message in messages %}
							<h3 style="color: red;">{{message}}</h3>
						{%endfor%}
					</div>
					{%endif%}

								<!-- Form -->
									<h3>Please Fill up all Field</h3>

									<form method="post" action="addForm" id="sign">
										{% csrf_token %}
										<div class="row uniform">
											<div class="12u$">
												<input type="text" name="username" id="user_id"  placeholder="Username" />
											</div>
											<div class="12u$">
												<input type="password" name="password" id="password"  placeholder="Password" />
											</div>
											<div class="12u$">
												<input type="password" name="repassword" id="repassword"  placeholder="Re-password" />
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="firstname" id="firstname"  placeholder="Firstname" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="text" name="lastname" id="lastname"  placeholder="Lastname" />
											</div>
											<div class="6u 12u$(xsmall)">
												<input type="text" name="age" id="age"  placeholder="age" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="text" name="phone_num" id="phone_num"  placeholder="Phone number" />
											</div>
											<div class="12u$">
												<input type="email" name="email" id="email"  placeholder="Email" />
											</div>
											<div class="12u$">
												<input type="text" name="career" id="career"  placeholder="What is your career" />
											</div>
											
											<!-- Break -->
											<div class="4u 12u$(small)">
												<input type="radio" id="small-business" name="business_size" value="small business" checked>
												<label for="small-business">Small Business</label>
											</div>
											<div class="4u 12u$(small)">
												<input type="radio" id="medium-business" name="business_size" value="medium business" >
												<label for="medium-business">Medium Business</label>
											</div>

											<div class="4u$ 12u$(small)">
												<input type="radio" id="large-business" name="business_size" value="large business" >
												<label for="large-business">Large Business</label>
											</div>
											<!-- Break -->
											<div class="12u$">
												<div class="select-wrapper">
													<select name="interest" id="interest">
														<option value="">- What is your Interesting -</option>
														<option value="Logo">Logo</option>
														<option value="Web Design">Web Design</option>
														<option value="Packaging">Packaging</option>
														<option value="Marketing">Marketing</option>
														<option value="Application">Application</option>
													</select>
												</div>
											</div>
											<!-- Break -->
											<div class="6u 12u$(small)">
												<input type="checkbox" id="copy" name="copy">
												<label for="copy">Email me a copy of this message</label>
											</div>
											<div class="6u$ 12u$(small)">
												<input type="checkbox" id="human" name="human" checked>
												<label for="human">I am a human and not a robot</label>
											</div>
											<!-- Break -->
											<div class="12u$">
												<textarea name="message" id="message" placeholder="Enter your message" rows="6" form="sign"></textarea>
											</div>
											<!-- Break -->
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Sign up" /></li>
													<li><input type="reset" value="Reset" class="button" /></li>
												</ul>
											</div>
										</div>
									</form>

							</div>
						</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="vip">

						<p>Our service center: +6638-422-099 <br />
						Official line: @beourvipguest<br />
						Facebook: VIP Very Important Person
						</p>
					<div>
				<div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>