<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Success</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main.css?{% now "U" %}">
	</head>
<body class="subpage">
            {%if user.is_authenticated %}
            <!-- Header -->
                <header id="header">
                    <nav class="left">
                        <a href="#menu"><span>Menu</span></a>
                    </nav>
                    <a href="/" class="logo">VIP</a>
                    <nav class="right">
                        <a href="/logout" class="button alt">Log out</a>
                    </nav>
                </header>

            <!-- Menu -->
                <nav id="menu">
                    <ul class="links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/LearningCenter">Learning Center</a></li>
                        <li><a href="/service">Our Service</a></li>
                        <li><a href="/sign_up">Sign up</a></li>
                        <li><a href="/about">About us</a></li>					
                    </ul>
                    <ul class="actions vertical">
                        <li><a href="/logout" class="button fit">Log out</a></li>
                    </ul>
                </nav>
            {%else%}	
            <!-- Header -->
                <header id="header">
                    <nav class="left">
                        <a href="#menu"><span>Menu</span></a>
                    </nav>
                    <a href="/" class="logo">VIP</a>
                    <nav class="right">
                        <a href="/loginForm" class="button alt">Log in</a>
                    </nav>
                </header>

            <!-- Menu -->
                <nav id="menu">
                    <ul class="links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/LearningCenter">Learning Center</a></li>
                        <li><a href="/service">Our Service</a></li>
                        <li><a href="/sign_up">Sign up</a></li>
                        <li><a href="/about">About us</a></li>					
                    </ul>
                    <ul class="actions vertical">
                        <li><a href="/loginForm" class="button fit">Login</a></li>
                    </ul>
                </nav>
            {%endif%}
					{%if messages%}
					<div>
    					{% for message in messages %}
							<h3 style="color: red;">{{message}}</h3>
						{%endfor%}
					</div>
					{%endif%}


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
                        <h1>Thank you for your interesting</h1>
                        </h3>We will contact you later</h3>
					</header>

								
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="vip">

						<p>Our service center: +6638-422-099 <br />
						Official line: @beourvipguest<br />
						Facebook: VIP Very Important Person
						</p>
					<div>
				<div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>